.score-info{
    &>div.score{
        background-color: var(--greenish-dark); 
        border-radius: 4px;           
        font-size: 1.4em;
        display: grid;
        grid-template-columns: 50% 50%;

        &>div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px 0;
            &:first-child{
                border-right: 1px solid var(--greenish-light);
            }
        }
    }
    &>div.game-status{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .status-label{
            font-size: 0.75em;
            text-transform: capitalize;
        }
    }
}