.score-info{
    &>div.score{
        border-radius: 4px;           
        font-size: 1.4em;
        display: flex;
        justify-content: center;

        &>div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px 0;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
    &>div.game-status{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .date-label{
            font-weight: bold;
            font-size: 1.2em;
        }
        .status-label{
            text-transform: capitalize;
        }
    }
}