@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?kmgoy9');
  src:  url('./fonts/icomoon.eot?kmgoy9#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?kmgoy9') format('truetype'),
    url('./fonts/icomoon.woff?kmgoy9') format('woff'),
    url('./fonts/icomoon.svg?kmgoy9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flag:before {
  content: "\e900";
}
.icon-field:before {
  content: "\e901";
}
.icon-shirt:before {
  content: "\e902";
}
.icon-soccer-shoe:before {
  content: "\e903";
}
.icon-whistle:before {
  content: "\e904";
}
.icon-whistle-1:before {
  content: "\e905";
}
.icon-computer-screen:before {
  content: "\e906";
}
.icon-substract:before {
  content: "\e907";
}
.icon-tv:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-goal-box .path1:before {
  content: "\e90a";
  color: rgb(203, 219, 215);
}
.icon-goal-box .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path7:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path8:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path9:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path10:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path11:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path12:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path13:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path14:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path15:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path16:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path17:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path18:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path19:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path20:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-goal-box .path21:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path22:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(92, 99, 115);
}
.icon-goal-box .path23:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path24:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(92, 99, 115);
}
.icon-goal-box .path25:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path26:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path27:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path28:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(92, 99, 115);
}
.icon-goal-box .path29:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path30:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path31:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(92, 99, 115);
}
.icon-goal-box .path32:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path33:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path34:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(92, 99, 115);
}
.icon-goal-box .path35:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path36:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-goal-box .path37:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(92, 99, 115);
}
.icon-goal-box .path38:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-red-card:before {
  content: "\e930";
}
.icon-football-ball:before {
  content: "\e931";
}
.icon-reload:before {
  content: "\e932";
}
.icon-running-sportive-shoe-for-soccer-players:before {
  content: "\e933";
}
.icon-cross:before {
  content: "\e934";
}
