
.align-3-items-row{
    font-size: 0.85em;
    display: grid;
    grid-template-columns: 40% auto 40%;
    padding: 3px 0;
    &.game-item-icons{
        grid-template-columns: repeat(3, 1fr);
        div{
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                margin-right: 5px;
            }
        }
    }
}
.game-item-team-score{
    height: 70px;
    margin-bottom: 5px;
    img{
        height: 35px;
    }
    .home-section, .away-section{
        display: grid;
        grid-template-columns: 40px auto;
        align-items: center;
        justify-content: start;
        label{
            margin: 0 8px;
            font-size: 1.3em;
        }
        .img-logo{
            width: 40px;
            display: flex;
            justify-content: flex-start;
        }        
    }
    .away-section{        
        grid-template-columns: auto 40px;
        justify-content: end;

        .img-logo{
            justify-content: flex-end;
        }        
    }
}