.credentials-form{
    margin-top: 20px;

    header{
        span{
            margin-left: 15px;
            padding-top: 3px;

            a{
                text-decoration: underline;
            }
        }
    }
}