:root{
    --greenish: #249892;
    --greenish-light: #2aa8a2;
    --greenish-lighter: #3fd4cd;
    --greenish-dark: #178681;  
    --greenish-darker: #0e6662;     
    
    --blueish: #00cfd7;
    --blueish-light: #0adce4;
    --blueish-lighter: #1deff7;
    --blueish-dark: #06aeb4;
    --blueish-darker: #0d989c;    

    --white: #f5f5f5;
    --white-transparent: rgba(255,255,255,0.2);
    --grey: #adadad;
    --grey-light: #c0bebe;
    --grey-lighter: #dbdbdb;
    --grey-dark: #919191;
    --grey-darker: #6e6e6e;
    --black: #383838;
    

}

.circled-btn{
    background-color: var(--greenish-darker);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: var(--greenish-dark);
    }
    &:active{
        background-color: var(--greenish);
    }
}

.gradient-background{
    background: rgb(1,253,141);
    background: linear-gradient(140deg, rgba(1,253,141,1) 0%, rgba(4,228,182,1) 52%, rgba(7,207,216,1) 100%);
}

.fn-shadow{
    box-shadow: 0px 2px 2px 0px rgba(80,80,80,0.55);
}
.fn-shadow-light{
    box-shadow: 0px 2px 2px 0px rgba(130,130,130,0.55);
}
.fn-shadow-dark{
    box-shadow: 0px 2px 2px 0px rgba(30,30,30,0.55);
}