#matches-list {
    li.list-group-item{
        padding: 0;
        margin-bottom: 10px ;
        border-radius: 4px !important;
        background-color: #fff;
        border: 1px solid var(--white);
        a{
            display: block;
            &:hover{
                text-decoration: none;
            }

            .game-item-team-score{
                padding: 10px
            }
            .game-item-icons{
                border-top: 1px solid var(--grey-lighter);
                padding: 5px;
            }
        }

        @media screen and (min-width: 768px) {
            a{
                font-size: 1.2em;
            }
        }
    }
}