#matches-list {
    li.list-group-item{
        padding: 0;
        margin-bottom: 6px ;
        border-radius: 4px !important;
        background-color: #fff;
        a{
            display: block;
            &:hover{
                text-decoration: none;
            }

            .game-item-team-score{
                padding: 10px
            }
            .game-item-icons{
                border-top: 1px solid var(--grey-lighter);
                padding: 5px;

                &>div{
                    padding: 0;
                }
                & svg{
                    width: initial;
                    height: 18px;
                }
            }
        }

        @media screen and (min-width: 768px) {
            a{
                font-size: 1.2em;
            }
        }
    }
}