#mainNav{
    position: fixed;
    width: 100%;
    background-color: var(--blueish);
    z-index: 9999;

    .navbar-brand{
        color: var(--grey-lighter);
    }

    .menu.navbar-toggler{
        border: 0;

        &:focus{
            outline: none;
        }
        &:hover{
            cursor: pointer;
        }

        i.fas{
            color: #f5f5f5;
            font-size: 0.7em;
        }
    }

    .nav-link{
        color: var(--grey-lighter);
    }
}
